.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .carousel-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
  }
  
  .prev {
    left: 10px;
    background-color: rgb(250, 8, 8);
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 900;
  }
  
  .next {
    right: 10px;
    background-color: rgb(251, 6, 6);
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 900;
  }
  
  .arrow:hover {
    background-color: rgba(0, 55, 255, 0.8);
    color: aliceblue;
    font-size: large;
    font-weight: 900;
  }
  